<footer class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>
          <strong>Vinícius Bastos</strong>
        </p>
        <p>Analista de Sistemas .NET/C#</p>
      </div>
      <div class="col-sm-6">
        <ul>
          <li>
            <a href="http://www.linkedin.com/in/vinicius-bastos">Linkedin</a>
          </li>
          <li>
            <a href="http://www.github.com/vinibas">Github</a>
          </li>
          <li>
            <address>E-mail:
              <a href="mailto:{{this.email}}">{{ this.email }}</a>
            </address>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>