<div class="container-conteúdo-principal">

  <h4>Sobre o projeto</h4>
  <hr />
  <p>
    Criei esse projeto com intuito de ser uma pequena demonstração do meu trabalho. Apesar de ser um projeto bem simples, e sem
    nenhuma regra de negócio complexa, espero poder demonstrar um pouco do meu estilo de codificação, além de também poder
    demonstrar de forma básica o uso de algumas tecnologias, como ASP.NET, C#, Entity Framework, Identity e Bootstrap.
  </p>
  <p>
    Criei uma primeira versão bem simples, em um único projeto, crendo que já é o suficiente para uma pequena demonstração. KISS
    e YAGNI, simples e somente o necessário para o momento.
  </p>
  <p>
    Mas não terminei! Pretendo ainda deixar o projeto com uma cara de projeto maior, adicionar algumas funcionalidades, dividir
    em camadas, e ir melhorando com o tempo. Mas por hoje é o que tenho! Acompanhe meu
    <a href="http://www.github.com/vinibas">Github</a>!
  </p>
</div>
