@using Microsoft.AspNetCore.Mvc.Localization
@using Vini.ModelProject.Infra.Utils.Extensions

@inject IViewLocalizer Localizer

@{ ViewData["Title"] = @Localizer["Sobre o projeto"]; }

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/Home/Sobre.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/Home/Sobre.min.css" asp-append-version="true" />
    </environment>
}

<div class="container-conteúdo-principal">

    <h4>@Localizer["Sobre o projeto"]</h4>
    <hr />
    @Localizer[@"<p>
Criei esse projeto com intuito de ser uma pequena demonstração do meu trabalho. Apesar de não ter nenhuma regra de negócio complexa, tampouco muitas funcionalidades, espero poder demonstrar um pouco de como eu estruturo meus códigos e meus projetos, além do uso de algumas tecnologias, implementadas em um projeto desde o zero, como ASP.NET Core, C#, Entity Framework, Identity e Bootstrap.
</p>
<p>
A primeira versão que criei se chamava ""ProjetoSimples"", e tinha o mesmo projeto feito em uma única camada, de forma bem simplista. A versão atual, dividida em diversos projetos, apesar de ser um <i>overengineering</i>, exemplifica melhor um projeto corporativo comum.
</p>
<p>
As duas versões estão disponíveis em meu <a href=""http://www.github.com/vinibas"">Github</a>. Vou seguir melhorando o projeto, conforme o tempo me permitir!
</p>
<p>
Aceito sugestões e críticas. Opções de contato no rodapé.
</p>".Replace("\n", " ").RemoveExtraSpaces(true)]
</div>