
<div class="container-conteúdo-principal">
  <div class="jumbotron" id="jumbotron-bemvindo">
      <h1>Bem-vindo ao ModelProject!</h1>
      <p>
          Este projeto foi criado para servir como um projeto de demonstração.
          Sinta-se à vontade para revisar o código, e se quiser pode entrar em contato comigo. Contatos no Rodapé!

      </p>
  </div>

  <carousel>
    <slide>
      <img class="img-fluid" src="http://placehold.it/1200x400/16a085/ffffff&text=ASP.NET Core MVC 2.1" alt="ASP.NET Core MVC 2.0">
    </slide>
    <slide>
        <img class="img-fluid" src="http://placehold.it/1200x400/03c/ffffff&text=Autenticação com ASP.NET Identity" alt="Autenticação com ASP.NET Identity">
    </slide>
    <slide>
        <img class="img-fluid" src="http://placehold.it/1200x400/f30/fff&text=Persistência com Entity Framework (CodeFirst)" alt="Persistência com Entity Framework (Code First)">
    </slide>
  </carousel>

  <div class="row quadros">

      <div class="col-sm-6 quadro-características pl-sm-3 mb-3 mb-sm-0">
          <div class="bg-info">
              <h3>Tecnologias utilizadas</h3>
                  <ul>
                      <li>ASP.NET CORE MVC 2</li>
                      <li>C#</li>
                      <li>Identity</li>
                      <li>Entity Framework</li>
                      <li>Bootstrap</li>
                      <li>Sass</li>
                  </ul>
          </div>
      </div>

      <div class="col-sm-6 quadro-características pr-sm-3">
          <div class="bg-info">
              <h3>Funcionalidades</h3>
              <ul>
                  <li>Layout responsivo</li>
                  <li>Cadastro de usuários</li>
                  <li>Autenticação</li>
                  <li>Validação de campos</li>
                  <li>Internacionalização</li>
              </ul>
          </div>
      </div>
  </div>
</div>